mixin photo-card()
  +b.photo-card&attributes(attributes)(data-id='').js-card
    +e.content
      +e.BUTTON(title='Больше не показывать').icon-button.js-invisible
        +icon('invisible').icon
      +e.img-block
        +e.IMG(src='').img.js-image
      +e.info
        +e.name
          span Фотограф:&nbsp;
          span.js-name
        +e.city
          span Город:&nbsp;
          span.js-city
    block
