mixin section(hasContainer=true)
  +b.SECTION.section&attributes(attributes)
    if (hasContainer)
      .container
        block
    else
      block

mixin section-wrapper()
  +e.wrapper&attributes(attributes)
    block

mixin section-bg(src)
  +e.bg&attributes(attributes)
    +e.IMG.bg-img(src=src)

mixin section-header()
  +e.header&attributes(attributes)
    block

mixin section-title(tag)
  +e(tag || 'h2').title&attributes(attributes)
    block

mixin section-description()
  +e.P.description&attributes(attributes)
    block

mixin section-content()
  +e.content&attributes(attributes)
    block

mixin section-footer()
  +e.footer&attributes(attributes)
    block
