extends ../../layouts/default

block head
  - var pageTitle = 'MyWed - Test'

block content
  - var photoDataBase = getData('photos_db')
  main.main-content
    +section.--filters
      +section-content
        +inputbox
          +input(placeholder='Введите имя').js-input-name
        +inputbox
          +select(name='city').js-select-city
            option(placeholder) Выберите город
    +section.--photos
      +section-content.js-photos-section
        each photo in photoDataBase
          +photo-card(photo.id, photo.src, photo.name, photo.city)
        +section-note.js-no-matches Сопоставлений не найдено
  +popup.js-popup
