extends ../../layouts/default

block head
  - var pageTitle = 'MyWed - Test'

block content
  main.main-content
    +section.--filters
      +section-content
        +inputbox
          +input(placeholder='Введите имя').js-input-name
        +inputbox
          +select(name='city').js-select-city
            option(placeholder) Выберите город
    +section.--photos
      +section-content.js-photos-section

  +popup.js-popup
