.button {
  display: inline-block;
  border-width: 2px;
  border-style: solid;
  white-space: nowrap;
  color: #fdfffc;
  cursor: pointer;

  $this: &;

  &--rounded {
    border-radius: 30px;
  }

  &--size-normal {
    height: 60px;
  }
}
